@import url(fonts.css);
@import url(reset.css);

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.main {
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1203px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 10px 15px;
  column-gap: 20px;
}
.header__logo {
  color: #000;
  font-family: Merriweather;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  flex-shrink: 0;
  position: relative;
  z-index: 5;
}
.header__menu {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
}
.header__menu-list {
  display: flex;
  column-gap: 36px;
  row-gap: 8px;
  flex-wrap: wrap;
}
.header__item {
  color: #000;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
.header__link::after {
  content: "";
  background: url(../img/arrow.png);
  display: flex;
  height: 8px;
  flex: 0 0 16px;
  width: 16px;
  transition: rotate 0.4s;
}
.header__item--active {
  color: #d58417;
  text-decoration-line: underline;
  font-weight: 700;
}
.header__link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.actions-header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}
.actions-header__item {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s;
  z-index: 5;
}
.actions-header__item img {
  max-width: 100%;
}
.actions-header__item span {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff3333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  text-align: center;
  color: #fff;
  font-size: 9px;
  line-height: 12px;
}
.header__icon {
  display: none;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    transform: scale(1.1);
  }
  .header__link:hover {
    color: #d58417;
    text-decoration-line: underline;
  }
  .header__item:hover .header__link::after {
    transform: rotate(-180deg);
  }
}
@media (max-width: 1020px) {
  .header__menu-list {
    column-gap: 24px;
  }
}
@media (max-width: 960px) {
  .header__container {
    min-height: 50px;
  }
  .header__menu-body {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 160, 122, 1);
    padding: 80px 15px 30px 15px;
    z-index: 2;
  }
  .header__menu-body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: rgb(179, 90, 55);
  }
  .header__menu-list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 28px;
  }
  .header__link {
    font-size: 28px;
  }
  .header__icon {
    display: block;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  .header__icon::after,
  .header__icon::before,
  .header__icon span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .header__menu-body,
  .menu-open .header__menu-body::before {
    left: 0;
  }
  .menu-open .header__icon span {
    transform: scale(0);
  }
  .menu-open .header__icon::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .header__icon::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .header__icon {
    background-color: rgb(179, 90, 55);
  }
}
@media (max-width: 440px) {
  .header__logo {
    font-size: 24px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.hero {
  background-color: #502203;
  padding: 100px 0;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Cormorant Infant", serif;
  min-height: 100vh;
  position: relative;
}
.hero__container {
  max-width: 1220px;
  display: flex;
  flex: 1 1 auto;
  align-items: start;
  position: relative;
}
.hero__body {
  flex-grow: 1;
  flex-basis: 30.168067%; /* 359/1190 */
  padding: 57px 30px 0 0;
}

.hero__body > *:not(:last-child) {
  margin-bottom: 9px;
}

.hero__title {
  font-size: 78px;
  font-weight: 700;
  line-height: 1.29;
  max-width: 324px;
}
.hero__button {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid #fff;
  position: relative;
}

.hero__button::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -8px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.06);
  transition: all 0.3s;
  pointer-events: none;
}

@media (any-hover: hover) {
  .hero__button:hover::before {
    top: 0;
    left: 0;
  }
}

.hero__image {
  flex: 0 0 36.134454%; /* 430/1190 */
  aspect-ratio: 430/610;
  padding: 27px 19px;
  border-radius: 215px;
  border: 1px solid #fff;
}

.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 390/554;
  object-fit: cover;
  border-radius: 215px;
}

.hero__content {
  flex-basis: 33.445378%; /* 398/1190 */
  flex-grow: 1;
  padding: 76px 0 0 23px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: stretch;
}
.content-hero__text {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.48;
  max-width: 312px;
}

.content-hero__text > *:not(:last-child) {
  margin-bottom: 10px;
}

.content-hero__title {
  font-size: 32px;
  font-weight: 600;
  margin: auto 0;
  max-width: 257px;
  align-self: end;
  padding-left: 12px;
  position: relative;
}

.content-hero__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 78.947368%; /* 60/76 */
  background-color: #fff;
  transform: translateY(-50%);
}

.hero__decor-left {
  display: none;
}

.hero__decor-right {
  display: none;
}

.hero__line-left {
  position: absolute;
  top: -107px;
  left: -27px;
  width: 190px;
  height: 500px;
  background: url("../img/vector.svg") center no-repeat;
}
.hero__line-right {
  position: absolute;
  top: 40%;
  right: 0;
  width: 190px;
  height: 500px;
  background: url("../img/vector-2.svg") center no-repeat;
}

@media (min-width: 1550px) {
  .hero__decor-left {
    display: block;
    position: absolute;
    aspect-ratio: 240/215;
    width: 15%; /* 240/1600 */
    left: 2.1875%;
    bottom: 4px;
    border-radius: 195px 195px 0px 0px;
    border: 1px solid #fff;
  }
  .hero__decor-img-left {
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 100%;
    height: 100%;
    border-radius: 195px 195px 0px 0px;
  }

  .hero__decor-img-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero__decor-right {
    display: block;
    position: absolute;
    bottom: 55px;
    right: -6.4375%; /* 103/1600 */
    aspect-ratio: 261/371;
    width: 16.3125%; /* 261/1600 */
    padding: 17px 12px;
    border-radius: 215px;
    border: 1px solid #fff;
    overflow: hidden;
    z-index: 3;
  }

  .hero__decor-right img {
    width: 100%;
    height: 100%;
    aspect-ratio: 237/337;
    object-fit: cover;
    border-radius: 215px;
  }
}
/* @media (max-width: 1199.98px){
	.hero {
		padding: 80px 0;
	}
} */

@media (max-width: 991.98px) {
  .hero__container {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
  }
  .hero {
    padding: 80px 0;
  }
  .hero__body {
    flex: 1 1 100%;
    text-align: center;
    padding: 0;
  }
  .hero__content {
    flex: 1 1 auto;
    padding-left: 0;
  }

  .hero__title {
    font-size: 68px;
    max-width: none;
  }
  .hero__image {
    max-width: 430px;
    flex: 0 1 50%;
  }
  .hero__content {
    padding-top: 0;
  }
}

@media (max-width: 767.98px) {
  .hero__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__title {
    font-size: 48px;
    max-width: none;
  }
  .hero {
    padding: 60px 0;
  }
  .hero__content {
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    flex-direction: column-reverse;
    text-align: center;
    gap: 15px;
  }

  .hero__image {
    flex-basis: 100%;
  }

  .content-hero__title {
    margin: 0;
    font-size: 28px;
    max-width: none;
    align-self: center;
  }

  .content-hero__title br {
    display: none;
  }

  .content-hero__text {
    max-width: none;
  }
}

@media (max-width: 575.98px) {
  .hero {
    padding: 40px 0;
  }
  .hero__title {
    font-size: 36px;
  }

  .hero__image {
    padding: 15px 12px;
  }

  .content-hero__title {
    font-size: 24px;
  }
  .content-hero__text {
    font-size: 18px;
  }
}
