@import url(fonts.css);
@import url(reset.css);

body {
  background: url(../img/Photo.webp) no-repeat;
}
.box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: paleturquoise;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-size: 25px;
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 15px;
}
.title:hover {
  font-size: 27px;
}
img {
  margin-right: 20px;
  vertical-align: middle;
}
img:hover {
  opacity: 0.5;
}
.icon {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
}
.logo {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid black;
}
.content {
  padding: 5px;
  border: 1px solid black;
}
.content img {
  margin-right: 10px;
  width: 363px;
}
