/* Підключення вручну */
/* @font-face {
    font-family: OpenSans;
    src: 
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: OpenSans;
    src: 
    url(../fonts/OpenSans-Medium.woff2) format("woff2"),
    url(../fonts/OpenSans-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: OpenSans;
    src: 
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
/* @font-face {
  font-family: Oswald;
  src: url(../fonts/Oswaldregular.woff2) format("woff2"),
    url(../fonts/Oswaldregular.woff) format("woff");
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswaldmedium.woff2) format("woff2"),
    url(../fonts/Oswaldmedium.woff) format("woff");
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswalddemibold.woff2) format("woff2"),
    url(../fonts/Oswalddemibold.woff) format("woff");
} */

/* Підключення через Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
